html, body, #root {
  height: 100%;
  /* font-size: 20px; */
}

#root {
  display: flex;
  flex-direction: column;
}

.main {
    flex: 1 0 auto;
}

.content {
    min-height: calc(100vh - 130px);
}

footer.page-footer{
      flex-shrink: 0;
}
.hide {
    display: none;
}

.navbar {
    padding: .5rem;
}

footer {
    color: #fff;
}

.text {
    padding: 20px;
    padding-top: 9%;
}


.button-list {
    list-style-type: none;
}

.button-list li {
    text-align: center;
}

.form-group {
    margin-bottom: 1rem;
}

.active {
    color: red;
}